.searchInput {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
  input {
    width: 200px;
    height: 30px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #8dc647;
    outline: none;
  }
}
